[package]
name = "silicon"
version = "0.2.5"
description = "Create beautiful image of your code"
authors = ["Aloxaf <aloxafx@gmail.com>"]
categories = ["command-line-utilities"]
readme = "README.md"
repository = "https://github.com/Aloxaf/silicon"
license = "MIT"
edition = "2018"

[dependencies]
syntect = "3.2"
image = "0.21"
imageproc = "0.18"
font-kit = "0.4"
clipboard = "0.5.0"
tempfile = "3.1.0"
conv = "0.3.3"
euclid = "0.20"
log = "0.4.8"
fastblur = "0.1.0"

[lib]
name = "silicon"
path = "src/lib.rs"

[[bin]]
name = "silicon"
path = "src/bin.rs"

[dependencies.failure]
version = "0.1.5"
optional = true

[dependencies.structopt]
version = "0.2"
default-features = false
features = [ "color", "wrap_help" ]
optional = true

[dependencies.env_logger]
version = "0.6.2"
default-features = false
features = [ "termcolor", "atty", "humantime" ]
optional = true

[patch.crates-io]
imageproc = { version = "0.18.0", git = "https://github.com/image-rs/imageproc" }
fastblur = { version = "0.1.0", git = "https://github.com/Aloxaf/fastblur", branch = "rgba" }
font-kit = { version = "0.4.0", git = "https://github.com/pcwalton/font-kit" }

[features]
default = [ "bin" ]
bin = [ "structopt", "env_logger", "failure" ]

[profile.release]
lto = true
