[package]
name = "silicon"
version = "0.3.0"
description = "Create beautiful image of your code"
authors = ["Aloxaf <aloxafx@gmail.com>"]
categories = ["command-line-utilities"]
readme = "README.md"
repository = "https://github.com/Aloxaf/silicon"
license = "MIT"
edition = "2018"

[lib]
name = "silicon"
path = "src/lib.rs"

[[bin]]
name = "silicon"
path = "src/bin.rs"

[dependencies]
imageproc = "0.20"
font-kit = "0.5"
clipboard = "0.5.0"
tempfile = "3.1.0"
conv = "0.3.3"
euclid = "0.20"
log = "0.4.8"

[target.'cfg(target_os = "macos")'.dependencies]
pasteboard = "0.1.1"

[dependencies.image]
version = "0.23"
default-features = false
features = ["jpeg", "png", "jpeg_rayon"]

[dependencies.syntect]
version = "3.3"
default-features = false
features = ["parsing", "dump-load"]

[dependencies.failure]
version = "0.1.6"
optional = true

[dependencies.structopt]
version = "0.3"
default-features = false
features = ["color", "wrap_help"]
optional = true

[dependencies.env_logger]
version = "0.7.1"
default-features = false
features = ["termcolor", "atty", "humantime"]
optional = true

[features]
default = ["bin"]
bin = ["structopt", "env_logger", "failure"]
